body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    background-color: #E6CBA8;
    height: 100vh;
    margin: 0;
}

.container {
    border: 2px solid grey;
    padding: 40px;
    background-color: #ffffff;
    border-radius: 10px;
    width: 100%;
    max-width: 400px;
}

h1 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
}

input, select, textarea {
    width: 100%;
    border-radius: 5px;
    margin-top: 2px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f3e7d7;
    border: 1px solid #f3e7d7;
}

textarea {
    min-height: 150px;
}

button {
    background-color: #E6CBA8;
    padding: 15px;
    border-radius: 10px;
    color: white;
    font-weight: bolder;
    border: 2px solid #E6CBA8;
    margin-top: 15px;
    font-family: "Montserrat", sans-serif;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #D6BB98;
}

#response-message {
    text-align: left;
    margin-bottom: 5px;
    color: red;
    font-size: 12px;
    padding: 2px 0 0 5px;
}
